<ion-header>
  <ion-toolbar>
    <ion-title>{{'END.END' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="playAgain()">{{'END.PLAY_AGAIN' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed size-md>
    <ion-row justify-content-center align-items-start>

      <ion-col size="5" size-m>

        <ion-card mode="ios">
          <ion-card-content text-center>

            <ion-card-title>{{'END.WELL_DONE' | translate}}</ion-card-title>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>