<ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="next()">{{'UI.NEXT' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed size-md>
    <ion-row justify-content-center align-items-start>

      <ion-col size="3" size-m text-center>
        <img src="assets/img/yellow.png">
      </ion-col>

      <ion-col size="1" size-m text-center>
      </ion-col>

      <ion-col size="3" size-m text-center>
        <img src="assets/img/blue.png">
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>