.instructor {
    padding-left: 70px;
    padding-right: 70px;
}

.confidence {
    padding-left: 90px;
    padding-right: 90px;
}

.confidenceLevel {
    padding-left: 60px;
    padding-right: 60px;
}