<ion-header>
  <ion-toolbar>
    <ion-title>Videos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="next()">{{'UI.NEXT' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed size-md [style.background-color]="halo.currentVideo.instructor">
    <ion-row justify-content-center align-items-start>

      <ion-col size="11" size-m text-center>

        <video controls  src="{{halo.currentVideo.videoFile}}" type="video/mp4">
        </video>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>